/* Curtain Section */

#header {
    color: white;
    font-family: "Meddon", cursive;
    margin: 10px;
}

#tonberry {
    width: 1.9em;
    height: 2.85em;
}


body {
    background: url("https://s-media-cache-ak0.pinimg.com/originals/9a/14/87/9a1487d9c9e04c46789b25200025f839.jpg");
    background-size: cover;
    background-attachment: fixed;
}


/* Translucent Questionaire */

.translucent-form-overlay {
    max-width: 500px;
    width: 100%;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    color: #fefefe;
    margin-top: 10px;
    box-shadow: 0 -5px 5px -5px white;
    margin-bottom: 50px;
}

.translucent-form-overlay .columns.row {
    display: block;
}

.translucent-form-overlay h3,
.translucent-form-overlay label {
    color: #fefefe;
}

.translucent-form-overlay input,
.translucent-form-overlay select {
    color: #8a8a8a;
}

.translucent-form-overlay input::-webkit-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input:-ms-input-placeholder {
    color: #8a8a8a;
}

.translucent-form-overlay input::placeholder {
    color: #8a8a8a;
}


/* Key */

#key {
    max-width: 600px;
    color: white;
    margin-top: 10px;
    background-color: rgba(54, 54, 54, 0.8);
    padding: 20px;
    box-shadow: 0 -5px 5px -5px white;
    /*margin: 2px;*/
}


/* Footer */

footer {
    /*margin-left: 140px;*/
    margin-top: 50px;
    padding: 10px;
    color: white;
    height: 340px;
    display: block;
    padding-bottom: 50px;
}

h4 {
    text-align: left;
}

#facebook {
    padding: 3px;
    font-size: 5em;
    color: #3b5998;
}

#instagram {
    padding: 3px;
    font-size: 5em;
    color: #fb3983;
}

#twitter {
    padding: 3px;
    font-size: 5em;
    color: #00aced;
}

#github {
    padding: 3px;
    font-size: 5em;
    color: #eeeeee;
}

#mail {
    align-self: center;
    padding: 3px;
    font-size: 5em;
    color: #eeeeee;
}

#shop {
    padding: 3px;
    font-size: 5em;
    color: #eeeeee;
}